body {
  margin: 0;
}

.container {
  width: 50%;
  height: 100vh;
  background: gray;
  display: flex;
  flex-flow: column;
}



.green {
  background: green;
  flex-grow: 1;
  order: 1;
}

.yellow {
  background: yellow;
  flex-grow: 2;
  order: 3;
}

.purple {
  background: palevioletred;
  flex-grow: 1;
  order: 2;
}