* {
  margin: 0;
  padding: 0;
}


#header{
  width: 100%;
  background: pink;
  position: sticky;
  top: 0px;
  padding-left: 10px;
}

.container {
  width: 100%;
  display: flex;

}

.menu {
  list-style: none;
  height: 40px;
  width: 100px;
  background: rgb(137, 137, 241);
  margin: 10px;
}

#main {
  padding: 20px;
  max-width: auto;
  height: 800px;
  display: flex;
  justify-content: space-between;
}


.main-content {
  background: yellowgreen;
  height: auto;
  flex-grow: 3;
}

.sidebar {
  background: orange;
  height: auto;
  margin-left: 1%;
  flex-grow: 2;
} 


footer{
  width: auto;
  height: 80px;
  background: rosybrown;
  margin: 0px 20px;
}
