* {
  margin: 0;
  padding: 0;
}

#webpage{
  margin: 0 10px;
  background: yellow;
  width: auto;
  height: auto;
}

.blank{
  width: 100%;
  height: 10px;
  background: white;
  position: sticky;
  top: 0;
}

#header{
  width: 100%;
  background: pink;
  position: sticky;
  top: 10px;
}


.menu {
  list-style: none;
  height: 40px;
  width: 100px;
  background: rgb(137, 137, 241);
  margin: 10px;
}

.container {
  width: 100%;
  display: flex;

}

#main {
  width: 100%;
  height: 800px;
  background: red;
  display: flex;

}


.main-content {
  background: yellowgreen;
  height: auto;
  flex-grow: 3;
}

.sidebar {
  background: orange;
  height: auto;
  flex-grow: 2;
} 
