* {
  margin: 0;
  padding: 0;
}

body {
  margin: 5px;
  padding: 20px 50px;
  background: pink;
  align-items: center;
}

.menuBar > ul{

  display: flex;
  justify-content: space-evenly;
}



.menu{
  color: rgb(61, 154, 177);
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px;
  border: none;
}

.menu:hover{
  background: tomato;
}

  .table{
    width:70%;
    margin: auto;
  background: grey;
  display: flex;
  justify-content: space-around;
}

.left, .right{
  height: auto;
  flex-grow: 1;
}

li{
  list-style: none;
  padding: 5px;
  text-align: center;
}

.lightL, .darkL  {
  text-align: left;
}



.lightL, .lightR{
  background: whitesmoke;
  border: solid white 1px;
  height: 50px;
}

.darkL, .darkR{
  background: lightslategray;
  border: solid white 1px;
  height: 50px;
}

.tableHead {
  background: black;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  border-left: solid white 1px;
}

h2{
  font-size: 16px;
}



