<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <p>This</p>
  <ul>
  <% for( let i= 0; i < selection.length; i++) { %>
    <li><%=selection[i].name%></li>
<% } %>
  </ul>
</body>
</html>