<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel='stylesheet' href='/assets/style.css' type='text/css'>
  <title>Document</title>
</head>
<body>
  <div id='header'>

  <h1>Cocktails</h1>

  <nav class='menuBar'>
    <ul>
    <% for(let i = 0; i < alcohols.length; i++){%>
      <li class='menu'><%= alcohols[i] %></li>
    <%}%>
    </ul>
  </nav>
  </div>

  <div class='alcoholTable'>
  <ul>
  <% for( let i= 0; i < selection.length; i++) { %>
    <li><%=selection[i].name%></li>
<% } %>
  </ul>
  </div>
</body>
</html>