* {
  margin: 0;
  padding: 0;
}

body {
  margin: 20px;
}

#header{
  width: 100%;
  height: 80px;
  background: grey;
  position: sticky;
  top: 20px;
}

nav {
  height: 100%;
  width: 100%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

nav > ul {
  list-style: none;
}
.menu {
  height: 40px;
  width: 100px;
  background: rgb(137, 137, 241);
  margin: 10px;

}

#viewer {
  width: 100%;
  height: 800px;
  background: red;
  display: flexbox;
  justify-content: center;
  align-content: center;
}
/* 
#main {
  width: 100%;
  height: 800px;
  background: rgb(192, 192, 192);
  display: flex;
}

.main-content {
  background: yellowgreen;
  flex-grow: 3;
}

.sidebar {
  background: orange;
  flex-grow: 2;
} */
