body {
  margin: 0;
}

.container {
  width: 100;
  height: 100px;
  background: gray;
  display: flex;
  overflow: hidden;
}



.green {
  background: green;
  flex-grow: 1;
  order: 3;
}

.yellow {
  background: yellow;
  flex-grow: 2;
  order: 2;
}

.purple {
  background: palevioletred;
  flex-grow: 1;
  order: 1;
}