* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(175, 175, 175);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
}

div {
  background: white;
  width: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgb(130, 130, 130)
}


/* form style */

form {
  margin: 40px 0 40px 0;
}

fieldset{
  margin-top: 30px;
  border: 0;
  padding: 0 0 0 70px;
  font-size: 12px;
  text-transform: uppercase;
}

select{
  width: 200px;
  margin-left: 20px;
  border: 1px solid olive;
}

input[type='submit'], button{
  margin: 30px 10px 10px 70px;
  background: rgb(75, 75, 75);
  color: white;
  width: 70px;
  height: 30px;
  border-radius: 20px;
  border: 0;
  box-shadow: 3px 3px 5px rgb(130, 130, 130);
}

.default {
  color: grey;
}

option:hover{
  background: olive;
  color: white;
}

