* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(175, 175, 175);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
}

div {
  background: white;
  width: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgb(130, 130, 130)
}


/* form style */

form {
  margin: 40px 0 40px 0;
}

fieldset{
  margin-top: 30px;
  border: 0;
  padding: 0 0 0 70px;
  font-size: 12px;
  text-transform: uppercase;
}

legend {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bolder;
}

input {
  display: block;
  height: 20px;
  border-radius: 2px;
  margin-top: 5px;
  border: 1px solid black;
}

input[type='submit'], button{
  margin: 30px 10px 10px 70px;
  background: rgb(75, 75, 75);
  color: white;
  width: 70px;
  height: 30px;
  border-radius: 20px;
  border: 0;
  box-shadow: 3px 3px 5px rgb(130, 130, 130);
}

:focus {
  outline-color: olive;
}

input:focus {
  border: olive;
}

i{
  position: relative;
  left: 150px;
  top: -17px;
}

/* style for the favorite pet */

.survey label{
  text-transform: capitalize;
  font-size: 18px;
  margin: 5px;
  line-height: 20px;
}

.survey input[type='radio'] {
  display: inline-block;
  position: relative;
  top: 5px;
}


.survey input[type='submit'] {
  display: inline-block;
}

button[disabled], input[disabled]{
  color:grey;
}