<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
  <title>Gallery</title>
</head>
<body>
  <div id='main'>

  
    <div class='album'>
    <button class='arrow left'><</button>
    <div class='picture'>
      <img id = 'mainPicture' src= <%= photos[0].path %>>
    </div>
    <button class='arrow right'>></button>
  </div>

  <ul class = 'thumbnail'>
  <% for( let i = 0; i < photos.length; i++) { %>
    <li class = 'thumbnailPic'><img class = 'smallPic' src = <%= photos[i].path %> alt = <%= photos[i].desc %> title = <%= photos[i].desc %> ></a></li>
  <% } %>
  
  </ul>

  </div>
  <script src='assets/js/gallery.js'></script>
</body>

</html>