* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  background: #AF9164;
  height: auto;
  width: auto;
}

/* header style */
header {
  width: 100%;
  height: 200px;
  background-image: url('/assets/img/header.jpg');
  background-size: auto 920px;
  background-position-x: 40%;
  background-position-y: -350px;
  position: fixed;
  top: 0px;
  border-radius: 10px;
  background-repeat: no-repeat;  
  box-shadow: 3px 3px 5px rgb(71, 56, 38);
  z-index: 10;
}

#sitename {
  width: 100%;
  font-family: Caveat;
  font-size: 80px;
  line-height: 200px;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

#creator {
  width: 100%;
  font-family: Caveat;
  font-size: 28px;
  text-align: right;
  color: olive;
  text-shadow: 2px 2px 4px #000000;
  position: relative;
  top: -40px;
  right: 10px;
  opacity: 0.7;
}

/* main part style */

#mainPart{
  /* margin: 40px; */
  width: 80vw;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  top: 250px;
  left: 10vw;
}

div{
  border-radius: 5px;
}

button{
  color: white;
  text-shadow: 3px 3px 2px rgb(124, 59, 33);
  font-size: 20px;
  background: #C65427;
  border-radius: 5px;
  border: 1px solid #AF9164;
  padding: 10px;
  box-shadow: 3px 3px 5px rgb(150, 126, 91);
}

button:hover{
  background: rgb(113, 150, 44);
}

h1{
  font-size: 30px;
  margin-bottom: 7px;
}


.leftDiv, .rightDiv{
  height: 300px;
  margin: 10px; 
  padding: 10px; 
  border: 0;
  box-shadow: 3px 3px 5px rgb(71, 56, 38);
}
.rightDiv{
  flex-grow: 2;
  height: 300px;
  box-shadow: none;
}

.leftDiv{
  height: auto;
  background: #CBC9AD;
  flex-grow: 4;
  padding: 20px;
  width: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.newPostBtn{
  width: 100%;
}

.post{
  width: 90%;
  height: 115px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  border: 1px solid rgb(104, 78, 47);

}

.post > div{
  height: 100%;
}


/* post upvore part */
.upvote{
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
  color: #AF9164;
  text-shadow: 1px 0px 1px black;
  padding: 0;
}

.upvote i:nth-child(1):hover{
  font-size: 24px;
  color: rgb(85, 141, 60);
  position: relative;
}
.upvote i:nth-child(3):hover{
  font-size: 24px;
  color: rgb(139, 43, 18);
}

/* post article part */
.article{
  padding: 0 20px;
  height: 115px;
  width: 450px;
  overflow: hidden;
  text-align: justify;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
}

.front, .back {
  width: auto;
  height: 100%;
  transition: opacity 0.4s ease;
  position: relative;
  display: flex;
  align-items: center;
}

.front h1{
  width: 450px;
}

.article:hover .front{
  opacity: 0;
}

.back p{
  height: 115px;
  width: 450px;
  line-height: 20px;
  overflow: hidden;
}

.back{
  left: -450px;
  opacity: 0;
}

.article:hover .back{
  opacity: 1;
}


/* post edit post part */
.editPost{
  width: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
}

.editPost a {
  color: black;
  transform: rotate(-270deg);
}

.editPost i:hover {
  transform: scale(1.3);
  color: #C65427;
  position: relative;
}


/* .back p{
  font-size: 30px;
  line-height: 50px;
} */